---
- name: Provision and Deploy TODO App
  hosts: webservers
  become: yes # Run tasks with sudo
  vars:
    # Update this to your forked repo URL
    repo_url: https://github.com/codedCoderr/DevOps-Stage-6.git
    app_dir: /opt/todo-app

  pre_tasks:
    # Install necessary disk utils (optional, in case future growpart operations are needed)
    - name: Install cloud-guest-utils (contains growpart) on Ubuntu/Debian
      ansible.builtin.apt:
        name: cloud-guest-utils
        state: present
        update_cache: yes
      when: ansible_os_family == "Debian"

    - name: Install cloud-utils-growpart on RedHat/Amazon Linux
      ansible.builtin.yum:
        name: cloud-utils-growpart
        state: present
      when: ansible_os_family == "RedHat" or ansible_os_family == "Amazon"

  roles:
    - dependencies
    - deploy
