---
- name: Provision and Deploy TODO App
  hosts: webservers
  become: yes
  vars:
    repo_url: https://github.com/codedCoderr/DevOps-Stage-6.git
    app_dir: /opt/todo-app

  pre_tasks:
    - name: Install necessary disk utils on Ubuntu/Debian
      ansible.builtin.apt:
        name: cloud-guest-utils
        state: present
        update_cache: yes
      when: ansible_os_family == "Debian"

    - name: Install cloud-utils-growpart on RedHat/Amazon Linux
      ansible.builtin.yum:
        name: cloud-utils-growpart
        state: present
      when: ansible_os_family == "RedHat" or ansible_os_family == "Amazon"

  roles:
    - dependencies
    - deploy
